
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
        <a routerLink="home" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h1 class="m-0">Nature Guardian</h1>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>        
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a routerLink="home" routerLinkActive="active" class="nav-item nav-link">Home</a>
                <a routerLink="reports" routerLinkActive="active" class="nav-item nav-link">Sighting Reports</a>
                <a *ngIf="isLogged" [routerLink]="['/userProfile',userId]" routerLinkActive="active" class="nav-item nav-link">Profile</a>
                <a (click)="Logout()" *ngIf="isLogged" class="nav-item nav-link">Logout</a>
                
                <a *ngIf="!isLogged" routerLink="login" routerLinkActive="active" class="btn btn-primary py-4 px-lg-4 rounded-0 d-none d-lg-block">Log in<i class="fa fa-arrow-right ms-3"></i></a>

            </div>
        </div>
    </nav>
    <!-- Navbar End -->
